.companies {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}
i {
	color: #6a6c6eb7;
}
.corp {
	width: 100%;
	border-top: solid 1px #ccc;
	padding: 10px;
	/* margin-bottom: 10px; */
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	/* transition: transform 0.5s ease-in; */
}

.corp:hover {
	filter: invert(1);
}

.title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-height: 1.5rem;
	max-height: 5rem;
	min-width: 12rem;
}
.title > span {
	color: #0366d6;
	font-weight: bold;
	cursor: pointer;
}
.title > a {
	margin-left: 10px;
}
.subitem {
	display: flex;
	align-items: center;
	font-size: 12px;
	/* margin-top: 10px; */
	margin-right: 10px;
	margin-left: 10px;
}

.company-img {
	border-style: solid;
	border-radius: 25px;
	border-width: 2px;
	width: 50px;
	height: 50px;
}

.company-name {
	display: inline-block;
	margin-left: 10px;
}

.item {
	border-left: 1px solid rgba(0, 0, 0, 0.26);
}
